.mainTittle{
    color:#119FF5;
    margin-top: 1%;
}

.subtittle{
    color: gray;
}

.bordered{
    border-style: solid;
    border-width: 1px;
    margin-top: 1%     
}

@media only screen and (max-width: 1263px) {
    .mainTittle{
        font-size: 35px;
    }
    .subtittle{
        font-size: 33px;
    }
}

@media only screen and (max-width: 959px) {
    .mainTittle{
        font-size: 30px;
    }
    .subtittle{
        font-size: 28px;
    }
    .formBottomMargin{
        margin-bottom: -7%;
    }
}

@media only screen and (max-width: 599px) {
    .mainTittle{
        font-size: 25px;
    }
    .subtittle{
        font-size: 23px;
    }
    .formBottomMargin{
        margin-bottom: -7%;
    }
    .benefitDescription{
      font-size: 13px;
    }
}

@media only screen and (min-width: 1264px) {
    .rightSeparationForGuide{
        margin-right: 10%;
    }

    .rightSeparationForTransactionInformation{
        margin-right: 25%;
    }
    
}