.mainTittle{
    color:black;
    margin-top: 1%;
}

.subtittle{
    color: gray;
}

.bordered{
    border-style: solid;
    border-width: 1px;
    margin-top: 1%     
}
.formMarginXY{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}


@media only screen and (max-width: 1263px) {
    .mainTittle{
        font-size: 35px;
    }
    .subtittle{
        font-size: 33px;
    }
    .topMargin{
      margin-top: -2%;
    }
    .marginBottom{
      margin-bottom: -5%;
    }
    .rowSeparation{
      margin-bottom: -7%;
    }
    .buttonSize{
        font-size: 12px;
    }
}

@media only screen and (max-width: 959px) {
    .mainTittle{
        font-size: 30px;
    }
    .subtittle{
        font-size: 28px;
    }
    .formBottomMargin{
        margin-bottom: -7%;
    }
    .rowBottomMargin{
        margin-bottom: -12%;
    }
    .topMargin{
      margin-top: -5%;
    }
    .marginBottom{
      margin-bottom: -5%;
    }
    .rowSeparation{
      margin-bottom: 6%;
    }
    .buttonSize{
        font-size: 12px;
    }
}

@media only screen and (max-width: 599px) {
    .mainTittle{
        font-size: 18px;
    }
    .subtittle{
        font-size: 23px;
    }
    .formBottomMargin{
        margin-bottom: -7%;
    }
    .rowBottomMargin{
        margin-bottom: -12%;
    }
    .topMargin{
      margin-top: -10%;
    }
    .marginBottom{
      margin-bottom: -10%;
    }
    .rowSeparation{
      margin-bottom: 8%;
    }
    .formMarginXY{
        margin-right:-40px;
        margin-left:-40px;
    }
 
    .buttonSize{
        font-size: 12px;
        margin-bottom: 6px;
    }
    .fontSize{
        font-size: 12px;
    }
    .avatarSize{
        size: small;
    }
}

@media only screen and (min-width: 1264px) {
    .rightSeparationForGuide{
        margin-right: 10%;
    }

    .rightSeparationForTransactionInformation{
        margin-right: 25%;
    }

    .mainTittle{
        margin-right: 8%;
    }
}